{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Overview | Above Care</title>  
  <!-- Bootstrap -->
  <!-- <link href="../static/bootstrap.min.css" rel="stylesheet"> Original -->
  <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Plugins -->
  <link rel="stylesheet" type="text/css" href="../static/magnific-popup.css">
  <link href="../static/prettify.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="../static/owl.theme.css">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="../static/carousel-animate.css">
  <link rel="stylesheet" type="text/css" href="../static/theme.css">
</head>

<body class="body-nav-fixed-menu-top">
  <div class="wrapper-body">

    <!-- NAVBAR -->
    <!--===============================================================-->
    <div id="header">
      <nav id="nav" class="navbar navbar-default navbar-fixed-top">
        <div class="menu-top menu-top-inverse">

        <!-- Top Header -->
        <div class="container">
            <div class="row">
              <div class="col-sm-5 hidden-xs">
                <a class="title-menu-top display-inline-block" href="mailto:support@example.com">contact@above-care.com</a>
              </div>
              <div class="col-sm-7 col-xs-12">
                <div class="pull-right">
                  <div class="dropdown dropdown-login pull-left">
                    <button onclick="window.location.href = '/login'" class="btn-menu-top" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Log in</button>                    
                    <div class="dropdown-menu dropdown-menu-right stop-prop" role="menu">
                    </div>
                  </div>                
                </div>
                <div class="list-inline social-icons-menu-top pull-right">
                  <a href="coming.html" class="social-hover-v1 a-facebook"></a>  
                  <a href="coming.html" class="social-hover-v1 a-twitter"></a>
                  <a href="coming.html" class="social-hover-v1 a-linkedin"></a>  
                  <a href="coming.html" class="social-hover-v1 a-youtube"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Top Header -->

        <!-- Menu Nav -->
        <!--===============================================================-->
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img style="width: 60px; height: 60px; margin-top: 10px; class="img-responsive" src="../static/logo.jpg" alt="theme-img"></a>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-center">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">                                
                  <li>
                    <a href="index.html">Company</a>   
                  </li>    
                  <li>
                    <a href="background.html">Background</a>   
                  </li>  
                                       
                </ul> 
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Product</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">             
                  <li>
                    <a href="product.html">Flow-EZ</a>         
                  </li>  
                                                       
                </ul> 
              </li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Care Community</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">             
                  <li>
                    <a href="http://localhost:8888/community.html#patient">Patient</a>         
                  </li>  
                  <li>
                    <a href="http://localhost:8888/community.html#clinician">Clinician</a>          
                  </li>
                  <li>
                    <a href="http://localhost:8888/community.html#tele-medicine">Tele-medicine</a>       
                  </li>
                                                       
                </ul> 
              </li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Schedule A Demo (circa Nov)</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">                       
                  <li>
                    <a href="demo.html">Contact Us</a>
                    
                  </li>   
                </ul>    
              </li>                              
            </ul>
          </div><!-- End of Menu Nav -->

        </div>
      </nav>
    </div>
    <!-- NAVBAR END -->   

    <!-- SECTION Product Overview -->
    <!--===============================================================-->
    <div class="section section-both section-sm section-dark">
      <div class="container text-left">
        <div class="row text-center">
          <div class="col-sm-12 text-left">
            <div class="row text-theme">  
              <div class="col-sm-12 text-left">
                <img class="img-responsive" style="width: 900px; height: 300px; " src="../static/dialysis.jpg" alt="imac" class="left">

                <BR><BR><h3 class="text-theme-lg title-section title-lg text-left" font color="#8B0000">- Dedicated to fulfilling unmet needs of dialysis community</h3><BR><BR>
              </div>     
            </div>
            <div class="row text-theme"><BR>

                  <!--===============================================================-->
                  
                  <!--===============================================================-->
                  <h4 class="text-theme-lg title-section title-lg text-left">Committed to patient wellness</h4> <BR> 
                  <p class="text-theme-sm" >Started out the ideas in 2015 when came upon by physician friends who had often came up new ways to treat the patients so that they could be taken care of more humanely and comfortably. But without the necessary devices or business experiences, physicians just gave up and threw the many good ideas that never came to see the light.<BR></p>
                  
                  <p class="text-theme-sm">In 2017, we incepted the company to carry on several marketing survey proved there were medical unmet needs there, with the little private funding we had, we then developed the prototype to prove our concept was effective.<BR></p>
              
                  <p class="text-theme-sm">We are a big pool of top talents from medical doctors, research experts, fast turn-around prototype builders, AI data scientists and software developers, etc.<BR></p>
               
                  <p class="text-theme-sm">In order to safely and widely meet the patient needs, we set our product goal to always follow the local regulatory compliances.<BR></p>

                  <p class="text-theme-sm">Our mission is to avoid the thrombosis to happen, instead early detection of stenosis, a less serious condition, and have the simpler and extremely less painful treatment performed<BR></p>

                <!--===============================================================-->
                <BR><BR><h2 class="text-theme-lg title-section title-lg text-left">Flow-EZ Integrated Systems</h2> 
                <BR><h2 class="text-theme-lg title-section title-sm text-left">Sensing device (patented)</h2> <BR> 
                <p class="text-theme-sm">We are addressing this medical unmet needs, with on-invasive, home-use, ease-of-use, affordable, so far we have more than 150 patient data collected with 90% stenosis prediction accuracy.<BR></p>
                <p class="text-theme-sm">We will have the working device ready in Nov., ready for clinical site trials and beta test for patients in the cloud environment. The clinical site product demo will be ready and available at the same time. <BR></p>

                <!--===============================================================-->
                <BR><h2 class="text-theme-lg title-section title-sm text-left">Integrated System</h2> <BR> 
                <p class="text-theme-sm">We are addressing this medical unmet needs, with on-invasive, home-use, ease-of-use, affordable, so far we have more than 150 patient data collected with 90% stenosis prediction accuracy.<BR></p>
                <p class="text-theme-sm">We will have the working device ready in Nov., ready for clinical site trials and beta test for patients in the cloud environment. The clinical site product demo will be ready and available at the same time. <BR></p>

                <!--===============================================================-->
                <BR><h3 class="text-theme-lg title-section title-sm text-left">Service Models</h3> <BR>
                <p class="text-theme-sm">We are addressing different needs of each patient, and develop the software and service models accordingly.<BR></p>             

                <p class="text-theme-sm">There are basic, subscription and premium service plans depending patient needs and care providers.<a href="http://localhost:8888/product.html#service">&nbsp Details</a></p><BR>

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>    

    <!-- SEECTION FEATURES -->
    <!--===============================================================-->

    <!-- SECTION Customer-centric -->
    <!--===============================================================-->
    
    <!-- SECTION Success Stories -->
    <!--===============================================================-->

    <!-- SECTION COUNT -->
    <!--================ Not Using It ===================================-->
    
    <!-- SECTION WORK AND CLIENTS -->
    <!--================ Not Using It ===================================-->
    
    <!-- SECTION CEO -->
    <!--================ Not Using It ===================================-->
    
    <!-- SECTION FOOTER -->
    <!--================ Not Using It ===================================-->
    
    <div class="section footer">
      <div class="container">
        <div class="row"> 
          <div class="col-sm-2 col-sm-offset-1 col-xs-6">
            <h3 class="text-theme title-sm hr-left">Home</h3>
            <ul class="list-unstyled text-theme">
              <li><a href="index.html">About Us</a></li>
            
              <li class="li-mega-menu dropdown">
                <a href="mailto:contact@above-care.com">Contact Us</a>
              </li> 
            </ul>
          </div>
          <div class="col-sm-4 col-xs-6">
            <h3 class="text-theme title-sm hr-left">Areas of Interest</h3>
            <ul class="list-unstyled text-theme">
              <li ><a href="product.html#device">Sensing Device</a></li>
              <li ><a href="product.html#system">Integrated System</a></li>
              <li ><a href="product.html#service">Service Models</a></li>
                 
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--SECTION FOOTER BOTTOM -->
    <!--===============================================================-->
    <div class="section footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center col-footer-bottom">
            <a id="scroll-top" href="#"><i class="fa fa-angle-up fa-2x"></i></a>
            <p class="copyright">2017 &copy; Above Care Inc. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="assets/js/page/page.navbar-fixed-shrinked.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="assets/js/owl.carousel.js"></script>
  <script src="assets/js/jquery.magnific-popup.js"></script>
  <script src="assets/js/jquery.waypoints.js"></script>
  <script src="assets/js/jquery.countTo.js"></script>
  <script src="assets/js/page/theme.js"></script>
  <script src="assets/js/page/page.home.js"></script>
</body>

</html>
{% endblock %}
